html {
    box-sizing: border-box;
}

*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

img {
    display: block;
}


:root {
    --main-text-style: Roboto, sans-serif; 
    --main-color: #434455;
    --main-background-color: #FFFFFF;
}

body {
    background-color: var(--main-background-color);
    font-family: Roboto, sans-serif;
    color: #434455;
    font-style: normal;
}

.list {
    list-style: none;
}
.link {
    list-style: none;
    text-decoration: none;
}
.link .adinfo:hover,
.link .adinfo:focus {
    color: #404bbf;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-adress {
    display: flex;
    align-items: center;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
    margin-right: 76px;
}
.logo-footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-header {
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}
.header-nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-nav-menu:hover
.header-nav-menu:focus {
    color: #404bbf;
}


.adress {
    font-style: normal;
}
.adress-list {
      display: flex;
      gap: 40px;
}

/* .adress-list .adress-item:first-child {
    margin-right: 40px;
} */
.adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}


.hero-section {
    background-color: #2E2F42;  
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/people-office\ 1.jpg);
   background-size: cover;
}


.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.button {
    min-width: 169px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 56px;
    border: none; 
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.button:hover, 
.button:focus {
    background-color: #404BBF;
}

.goals {
        padding: 120px 0px;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 120px;
}

.goals-list {
    display: flex;
    gap: 24px;
}
.goals-container {

}

.goals-item {
    display: block;
    max-width: 264px;
    width: calc((100% - 72px) / 4);
}

.goals-subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;;
    
}
.text-subjeckt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 24px;
}

.advantages {
    padding-bottom: 120px;
}
.advantages-list {
    display: flex;
    gap: 24px;
    
}
.advantages-list-images {
    /* margin-right: 24px; */
    width: calc((100% - 48px) / 3);
}
.headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.container.team {
     
}

.team-title {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    
}
.team-photo {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.card-content-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    
}
.card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.card-icons {
    display: flex;

}
.card-list {
    display: flex;

}
.card-items {
    padding: 8px 24px 32px 16px;
    border: 1px solid red;
    border-radius: 50%;

    /* fill: #F4F4FD; */  
}
.team-card-link {
    display: flex;
}

.customers {
    background-color: #FFF;
    border: #2E2F42;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 120px;
    
}
.customers-icons {
     fill: #8E8F99;
}
.customers-item {
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    
}
.customers-title {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;
}


.nav-button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;

}
.button-item {
max-width: 360px;
}



.logo-footer {
    color: #F4F4FD; 
    display: inline-block;
    margin-bottom: 16px;
}
.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.button-filters {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    cursor: pointer;
    min-width: 116px;
    text-align: center;
    color: #4d5ae5;
    background-color: #F4F4FD;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid#E7E9FC;
    border-radius: 4px;
}

.button-filters:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;

}
.button-filters:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfoio-section {
    padding: 96px 0 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap:  48px;
    column-gap: 24px;
    
}
.portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.portfolio-picture {

}
.footer-podtitle {
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
    color: #E7E9FC;
    padding: 100px 0;
}
.text-footer {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
}

.portfolio-subtitle {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0,02em;
    text-align: left;
    justify-content: flex-start;
}











